.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #eee;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}