.user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
}

.user-header > * {
  padding: 5px 5px;
}

.user-header .user-info {
  display: flex;
  align-items: center;
}

.user-header .user-info > * {
  padding: 10px;
}

.user-header .date {
  float: right;
}

