.post-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #4267b2;
  padding: 0px 5px;
}

button {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  cursor: pointer;
  background-color: #4267b2;
  color: #fff;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0.25rem 0.75rem;
}

button:active {
  background-color: darken(#4267b2, 10%);
}

button:disabled {
  background-color: transparent;
  color: #eee;
}

button:disabled:hover {
  border: 1px solid #777;
  transition: all 0.3s;
}

button.open {
  background-color: transparent;
  color: #4267b2;
}

button:hover {
  border: 1px solid #4267b2;
  transition: all 0.3s;
  background-color: darken(#4267b2, 60%);
}

button.block {
  width: 100%;
}

button a {
  text-decoration: none;
  color: white;
}