.auth-input {
  height: 40px;
  border-radius: 5px;
  background: silver;
  width: 100%;
  padding: 0px 10px;
  outline: none;
  border: none;
  color: white;
  font-weight: 800;
  font-size: 20px;
}

.auth-input::placeholder {
  color: grey;
}