
body { 
  background-color: #e9ebee;
  margin-top: 40px;
  font-family: sans-serif;
}

.posts-page {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [left] 20vw [center] 50vw [right] 20vw;
  justify-content: center;
}

.posts-page > div {
  margin-top: 10px;
}

.posts-page h3 {
  margin-top: 0px;
}
