.create-post {
  padding: 15px;
  border: 2 px solid #eee;
  border-radius: 7px 7px;
  background-color: #fff;
}

.create-post textarea {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  line-height: 18px;
  min-height: 70px;
  width: 100%;
  padding: 20px 12px 14px;
  outline: 0;
  resize: none;
}

.create-post .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}