.logo {
  background-color: #fff;
  color: #4267b2;
  height: 25px;
  line-height: 25px;
  padding: 2px;
  font-weight: bold;
  border-radius: 7px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}
