
.navbar {
  min-height: 40px;
  background-color: #4267b2;
  display: inline-flex;
  justify-content: space-between;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  padding: 3px 5% 5px;
  color: #fff;
  align-items: center;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: #eee;
}